/scripts/bin/__pycache__/**/*
/config/.config/filezilla/**/*
/config/.config/Clementine/**/*
/config/.config/Code Industry/**/*
/config/.config/Code/**/*
/homedir/.gitconfig
/config/.config/mpd/database
/config/.config/mpd/log
/config/.config/mpd/pid
/config/.config/mpd/state
/config/.config/mpd/sticker.sql
/config/.config/ncmpcpp/error.log
