[Desktop Entry]
Type=Application
Name=Dunst
Exec="/usr/bin/dunst" "-config" "/home/jbenden/.cache/wal/colors-dunstrc"
X-GNOME-Autostart-enabled=true
StartupNotify=false
Terminal=false
