[core]
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitexcludes
  autocrlf = input
[push]
  default = simple
[apply]
  whitespace = nowarn
[color]
  ui = auto
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[user]
  email = joe@benden.us
  name = Joseph Benden
  signingkey = 4E1D44F3
[branch]
  autosetupmerge = true
[alias]
  bisect-fixed = bisect bad
  bisect-unfixed = bisect good
  s = status
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  sdiff = !git diff && git submodule foreach 'git diff'
  spush = push --recurse-submodules=on-demand
  supdate = submodule update --remote --merge
[cola]
  linebreak = false
[difftool "kdiff3"]
  path = /usr/bin/kdiff3
  trustExitCode = false
[difftool]
  prompt = false
[diff]
  tool = kdiff3
[mergetool "kdiff3"]
  path = /usr/bin/kdiff3
  trustExitCode = false
[mergetool]
  keepBackup = false
[merge]
  tool = kdiff3
  renamelimit = 50000
[url "git+ssh://jbenden@git.launchpad.net/"]
  insteadof = lp:
[url "git+ssh://jbenden@git.launchpad.net/~jbenden/+git/"]
  insteadof = lpme:

[gc]
	autoDetach = false
